.cabecalho{
    position: absolute;
    z-index: 1;
    color: #fff;
    width: 100%;
    height: auto;   
}

.cabecalho_nav, .cabecalho_ul{
    width: 100%;
    height: 100%;
}

.cabecalho__li{
    display: inline-block;
    margin: 1.5rem 2rem;
}

.cabecalho__li--active{
    float: right;
}