.hero{
    background-color: var(--bg-panel);
    color: var(--text-main);
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero__container{
    width: 100%;
    height: 100%;
    /* OVERLAY */
    background-image:linear-gradient(90deg, rgba(0,0,0,0.6)), url("../img/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hero__title{
    text-align: center;
    margin: 2rem;
    font-size: 4rem;
    font-weight: 500;
}

.hero__text{
    text-align: justify;
    margin: 1rem;
    line-height: 3rem;
    font-size: 1.8rem;
}

.hero__btn{
    display: block;
    margin: 5rem auto 0 auto;
    width: 10%;
    height: 7rem;
    background-color: var(--bg-panel);
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    border: 0.2rem solid #fff;
}

@media (max-width: 1920px){
    .hero__title{
        font-size: 8rem;
        margin: 3rem;
        
    }

    .hero__text{
        font-size: 2.5rem;
        margin: 3rem;
    }

    .hero__btn{
        width: 20%;
        height: 5rem;
        padding: 1rem;
        text-align: center;

    }
}
@media (max-width: 1440px){
    .hero__title{
        font-size: 4rem;
        margin: 3rem;
        
    }

    .hero__text{
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    .hero__btn{
        width: 20%;
        height: 5rem;
        padding: 1rem;
        text-align: center;

    }
}
@media (max-width: 1024px){
    .hero__title{
        font-size: 4rem;
        margin: 2rem;
        
    }

    .hero__text{
        font-size: 1.2rem;
        margin: 1rem;
    }

    .hero__btn{
        width: 20%;
        height: 5rem;
        padding: 1rem;
        text-align: center;

    }
}