.hero{
    background-color: var(--bg-panel);
    color: var(--text-main);
    width: 100%;
    height: 100%;
    position: relative;
}

.hero__container{
    width: 100%;
    height: 100%;
    /* OVERLAY */
    background-image:linear-gradient(90deg, rgba(0,0,0,0.6)), url("../img/img-01-fundo-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
  
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  

}

.hero__title {
    font-size: clamp(2.5rem, 5vw, 4rem); 
    text-align: center;
    margin-bottom: 2rem;
}

.hero__text{
    text-align: justify;
    margin: 2rem;
    line-height: 6rem;
    font-size: 2.5rem;
}

.hero__btn{
    display: block;
    margin: 5% auto 0;
    width: 10%;
    height: 7rem;
    background-color: var(--primary);
    color: var(--text-inv);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    border: 0.2rem solid #fff;
}


@media (max-width: 1400px) {
    .hero__text {
        line-height: 3rem; /* Diminui o entrelinhamento que estava muito alto (6rem) para telas menores */
        font-size: 1.82rem;
    }
 
    .hero__btn{
        margin: 0.1rem auto 0;
        height: auto;
    }
    
    .hero__title {
        font-size: 4rem;
        margin-top: 4rem;
    }
}