/* 
    
    margin : 0 0 0 0 - aplica todos os lados
    margin : 0 0 0 - aplica ao top bottom e right
    margin : 0 0 - aplica ao top bottom e todos os lados
    margin : 0  - aplica a todos os lados

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
Olá! Sua tarefa é preparar a base do nosso projeto.

Requisitos:

    No arquivo CSS, aplique o reset básico: margin: 0, padding: 0 e box-sizing: border-box no seletor universal *.

    No html, configure a fonte base usando 62.5%.

    No body, defina uma cor de fundo escura (ex: #1a1b18) e uma cor de texto clara (ex: #d1d1c1).

    Aplique a fonte 'Arial' ou uma fonte local que você tenha configurado.

Dica: Lembre-se que o font-size: 62.5% fará com que 1rem valha 10px! */

#container {
    background-color: #f2e5f2;
    margin: 0 auto;
    width: 70%;
}